html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

tbody tr.not-clickable:hover{
    cursor: default;
}

tbody tr:hover{
    background-color: gainsboro;
    cursor: pointer;
}