@{
    ViewData["Title"] = "Borrows list";
}

<h1>Current borrows</h1>

<hr />

<button class="btn btn-success" asp-controller="Borrow" asp-action="Add"><small>+ Add new</small></button>

<table class="table">
    <thead>
        <tr>
            <th>Book's title</th>
            <th>Borrower name</th>
            <th>Date of borrow</th>
            <th>Return deadline</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Harry Potter</td>
            <td>John Smith</td>
            <td>00-00-0000</td>
            <td>00-00-0000</td>
        </tr>
        <tr>
            <td>Harry Potter</td>
            <td>John Smith</td>
            <td>00-00-0000</td>
            <td>00-00-0000</td>
        </tr>
        <tr>
            <td>Harry Potter</td>
            <td>John Smith</td>
            <td>00-00-0000</td>
            <td>00-00-0000</td>
        </tr>
        <tr>
            <td>Harry Potter</td>
            <td>John Smith</td>
            <td>00-00-0000</td>
            <td>00-00-0000</td>
        </tr>
    </tbody>
</table>