@{
}

<h1>
    Readers's name
    <small class="text-muted fw-light">#X</small>
</h1> 
<h5>Birthdate: <i class="fw-normal">00-00-0000</i></h5>

<hr />

<h4>Current borrows <small class="text-muted">(3)</small></h4>

<hr />

<table class="table">
    <thead>
        <tr>
            <th>Book title</th>
            <th>Borrow date</th>
            <th>Return deadline</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Harry Potter</td>
            <td>00-00-0000</td>
            <td>00-00-0000</td>
        </tr>
        <tr>
            <td>Harry Potter</td>
            <td>00-00-0000</td>
            <td>00-00-0000</td>
        </tr>
        <tr>
            <td>Harry Potter</td>
            <td>00-00-0000</td>
            <td>00-00-0000</td>
        </tr>
    </tbody>
</table>

<h4>History of borrows</h4>

<hr />

<table class="table">
    <thead>
        <tr>
            <th>Book title</th>
            <th>Borrow date</th>
            <th>Return deadline</th>
            <th>Return date</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Harry Potter</td>
            <td>00-00-0000</td>
            <td>00-00-0000</td>
            <td>00-00-0000</td>
        </tr>
        <tr>
            <td>Harry Potter</td>
            <td>00-00-0000</td>
            <td>00-00-0000</td>
            <td>00-00-0000</td>
        </tr>
        <tr>
            <td>Harry Potter</td>
            <td>00-00-0000</td>
            <td>00-00-0000</td>
            <td>00-00-0000</td>
        </tr>
    </tbody>
</table>