@{
    ViewData["Title"] = "Readers list";
}

<h1>Readers</h1>

<hr />

<button class="btn btn-success" asp-controller="Reader" asp-action="Add"><small>+ Add new</small></button>

<table class="table">
    <thead>
        <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Birthdate</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                John
            </td>
            <td>
                Smith
            </td>
            <td>
                00-00-0000
            </td>
        </tr>
        <tr>
            <td>
                John
            </td>
            <td>
                Smith
            </td>
            <td>
                00-00-0000
            </td>
        </tr>
        <tr>
            <td>
                John
            </td>
            <td>
                Smith
            </td>
            <td>
                00-00-0000
            </td>
        </tr>
    </tbody>
</table>
