@model List<ReaderViewModel>
@{
    ViewData["Title"] = "Readers list";
}

<h1>Readers</h1>

<hr />

<a class="text-success fw-bold text-decoration-none" asp-controller="Reader" asp-action="Add"><small>+ Add new</small></a>

<table class="table">
    <thead>
        <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>Birthdate</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var reader in Model)
        {
            <tr onclick="location.href = '@Url.Action("Index", "Reader", new {readerId = reader.Id})'">
                <td>@reader.FirstName</td>
                <td>@reader.LastName</td>
                <td>@reader.Birthdate.ToString("dd MMMM yyyy")</td>
            </tr>
        }
    </tbody>
</table>

@if(!Model.Any())
{
    <p>Nothing to show here!</p>
}
