@model AuthorViewModel
@{
    ViewData["Title"] = "Add new author";
}

<h2>Add new author</h2>
<hr />

<form asp-controller="Author" asp-action="Add">
    <div class="form-group">
        <label for="first-name">First name</label>
        <input type="text" class="form-control" id="first-name" name="FirstName" required />
    </div>
    <div class="form-group">
        <label for="last-name">Last name</label>
        <input type="text" class="form-control" id="last-name" name="LastName" required />
    </div>
    <button type="submit" class="btn btn-success mt-4">Add</button>
</form>

@if((bool)ViewData["failInformation"])
{
    <p class="text-danger mt-1 invisible" id="fail-info">Adding new author failed. Check if all fields are filled.</p>
}