@{
}


<h1>
    Author's name
    <small class="text-muted fw-light">#X</small>
</h1> 

<hr />

<h4>Books</h4>

<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Title</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>0</td>
            <td>Harry Potter</td>
        </tr>
        <tr>
            <td>0</td>
            <td>Harry Potter</td>
        </tr>
        <tr>
            <td>0</td>
            <td>Harry Potter</td>
        </tr>
    </tbody>
</table>